 <html ng-app="BufCtrl">
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/controllers/BufCtrl.js"></script>
    </head>
    <body ng-controller="BufController">
        <div >
        	<h3>Buffer Manager</h3>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col btn-group">
                    <button type="button" class="btn btn-primary btn-select" ng-click="select_1()">Clock</button>
                    <button type="button" class="btn btn-primary btn-select" ng-click="select_2()">LFU</button>
                    <button type="button" class="btn btn-primary btn-select" ng-click="select_3()">LRU</button>
                </div>
            </div>
            <div class="row" style="margin-bottom:0.5em;">
                <div class="col-8 text-center">
                    <div ng-if="write_mode == 1">
                        <h5>Current Mode: Clock</h5>
                    </div>
                    <div ng-if="write_mode == 2">
                        <h5>Current Mode: LFU</h5>
                    </div>
                    <div ng-if="write_mode == 3">
                        <h5>Current Mode: LRU</h5>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <button class="btn btn-primary reset-btn" onClick="window.location.reload()">Reset</button>
                </div>
            </div>
        </div>
    <!-- #class="jumbotron text-center" -->


        <div class="container-fluid">
            <div class="row">
                <div class="col col-5">
                    <div class="sect">
                        <ul class="first_title">
                            <li style="padding-left: 0.5em;">
                                <h5>Page ID</h5>
                            </li>
                            <!-- <li><input type="text" ng-model="txn_no" /></li> -->
                            <li class="text-center">
                                <select  ng-hide="selectedType == 'Flush'" ng-model="pageid" ng-options="type for type in pageids"></select>
                            </li>
                        </ul>
                        <ul>
                            <li style="padding-left: 1em;">
                                <h5>Operation Type</h5>
                            </li>
                            <li>
                                <button ng-class="{ 'buttonHigh' : selectedType == 'Write' }" ng-click="selectedType = 'Write'">Write</button>
                                <button ng-class="{ 'buttonHigh' : selectedType == 'Read' }" ng-click="selectedType = 'Read'">Read</button>
                                <button ng-class="{ 'buttonHigh' : selectedType == 'Flush' }" ng-click="selectedType = 'Flush'">Flush</button>
                                <!-- <button ng-class="{ 'buttonHigh' : selectedType == 'Clock' }" ng-click="selectedType = 'Clock'">Clock</button> -->
                            </li>
                        </ul>
                        <ul>
                            <li style="padding-left: 1em;">
                                <h5>Write Data</h5>
                            </li>
                            <!-- <li><input type="text" ng-model="pageid" /></li> -->
                            <li class="text-center">
                                <select ng-hide="selectedType == 'Read' || selectedType == 'Flush'" ng-model="write_no" ng-options="type for type in write_nos"></select>
                            </li>
                        </ul>
                        <ul class="text-center">
                            <button class="btn btn-primary" ng-click="addRow()"> Add Record </button>
                        </ul>
                    </div>
                </div>
                <div class="col col-3">
                    <div class="sect">
                        <div class="first_title">
                            <h5><i class="fas fa-save"></i>  Volatile Storage</h5>
                        </div>
                            <!-- <button ng-click="commit()">Commit</button>  -->
                        <div class="vt">
                            <table ng-show="show_buffer" class="table table-sm">
                                <tr ng-repeat="txn in Array| unique : 'pageid'">
                                    <td ng-if="txn.txn_type == 'Write'"><label>【{{txn.pageid}}】</label></td>
                                    <td ng-if="txn.txn_type == 'Read'"><label>{{txn.pageid}}</label></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="sect">
                        <div class="first_title">
                            <h5><i class="fas fa-hdd"></i>  Hard Disk Storage</h5>
                        </div>
                        <table class="table">
                            <tr ng-repeat="_list in AllRecords">
                                <td class="hd-storage" ng-repeat="item in _list track by $index"><label>{{item}}</label></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="sect">
                        <!-- <div style="top: 0px;"> -->
                            <div class="first_title"
                            style="float: left;">
                                <h5><i class="fas fa-sticky-note"></i>  Buffer Manager</h5>
                                <div ng-show="write_mode == 1" class="analog-clock" style="float: left;">
                                    <svg width="140" height="140">
                                        <circle id="clock-face" cx="70" cy="70" r="65" />
                                        <line id="m-hand" x1="70" y1="70" x2="70" y2="20" />
                                        <text x="66" y="18">1</text>
                                        <text x="126" y="76">2</text>
                                        <text x="66" y="130">3</text>
                                        <text x="7" y="76">4</text>
                                    </svg>
                                </div>
                                <div ng-show="write_mode == 2" class="lru-manager" style="float: left;">

                                </div>
                            </div>
                            <div class="second_title" style="float: right;">
                                <h5><i class="fas fa-sticky-note"></i>  Frame Info</h5>
                                <div class="frame_info" style="float: right;">
                                    <!-- <table>
                                        <tr>
                                            <th>Page ID: </th>
                                            <td ng-bind="pageArr[clockInd]"></td>
                                        </tr>
                                        <tr>
                                            <th>Value: </th>
                                            <td ng-bind="valArr[clockInd]"></td>
                                        </tr>
                                        <tr>
                                            <th>Dirty: </th>
                                            <td ng-bind="dirtyArr[clockInd]"></td>
                                        </tr>
                                        <tr>
                                            <th>RefBit: </th>
                                            <td ng-bind="refArr[clockInd]"></td>
                                        </tr>
                                    </table> -->
                                    <table ng-show="write_mode == 1">
                                        <tr>
                                            <th></th>
                                            <th ng-class="{ 'highColor' : clockInd==0 }">1</th>
                                            <th ng-class="{ 'highColor' : clockInd==1 }">2</th>
                                            <th ng-class="{ 'highColor' : clockInd==2 }">3</th>
                                            <th ng-class="{ 'highColor' : clockInd==3 }">4</th>
                                        </tr>
                                        <tr>
                                            <th>Page ID:</th>
                                            <td ng-class="{ 'highColor' : clockInd==0 }" ng-bind="pageArr[0]"></td>
                                            <td ng-class="{ 'highColor' : clockInd==1 }" ng-bind="pageArr[1]"></td>
                                            <td ng-class="{ 'highColor' : clockInd==2 }" ng-bind="pageArr[2]"></td>
                                            <td ng-class="{ 'highColor' : clockInd==3 }" ng-bind="pageArr[3]"></td>
                                        </tr>
                                        <tr>
                                            <th>Value:</th>
                                            <td ng-class="{ 'highColor' : clockInd==0 }" ng-bind="valArr[0]"></td>
                                            <td ng-class="{ 'highColor' : clockInd==1 }" ng-bind="valArr[1]"></td>
                                            <td ng-class="{ 'highColor' : clockInd==2 }" ng-bind="valArr[2]"></td>
                                            <td ng-class="{ 'highColor' : clockInd==3 }" ng-bind="valArr[3]"></td>
                                        </tr>
                                        <tr>
                                            <th>Dirty:</th>
                                            <td ng-class="{ 'highColor' : clockInd==0 }" ng-bind="dirtyArr[0]"></td>
                                            <td ng-class="{ 'highColor' : clockInd==1 }" ng-bind="dirtyArr[1]"></td>
                                            <td ng-class="{ 'highColor' : clockInd==2 }" ng-bind="dirtyArr[2]"></td>
                                            <td ng-class="{ 'highColor' : clockInd==3 }" ng-bind="dirtyArr[3]"></td>
                                        </tr>
                                        <tr>
                                            <th>Refbit:</th>
                                            <td ng-class="{ 'highColor' : clockInd==0 }" ng-bind="refArr[0]"></td>
                                            <td ng-class="{ 'highColor' : clockInd==1 }" ng-bind="refArr[1]"></td>
                                            <td ng-class="{ 'highColor' : clockInd==2 }" ng-bind="refArr[2]"></td>
                                            <td ng-class="{ 'highColor' : clockInd==3 }" ng-bind="refArr[3]"></td>
                                        </tr>
                                    </table>

                                    <table ng-show="write_mode == 2">
                                        <tr>
                                            <th></th>
                                            <th ng-class="{ 'highColor' : ref==0 }">MFU</th>
                                            <th ng-class="{ 'highColor' : ref==1 }"></th>
                                            <th ng-class="{ 'highColor' : ref==2 }"></th>
                                            <th ng-class="{ 'highColor' : ref==3 }">LFU</th>
                                        </tr>
                                        <tr>
                                            <th>Page ID:</th>
                                            <td ng-class="{ 'highColor' : ref==0 }" ng-bind="pageArr[maxOrd[0]]"></td>
                                            <td ng-class="{ 'highColor' : ref==1 }" ng-bind="pageArr[maxOrd[1]]"></td>
                                            <td ng-class="{ 'highColor' : ref==2 }" ng-bind="pageArr[maxOrd[2]]"></td>
                                            <td ng-class="{ 'highColor' : ref==3 }" ng-bind="pageArr[maxOrd[3]]"></td>
                                        </tr>
                                        <tr>
                                            <th>Value:</th>
                                            <td ng-class="{ 'highColor' : ref==0 }" ng-bind="valArr[maxOrd[0]]"></td>
                                            <td ng-class="{ 'highColor' : ref==1 }" ng-bind="valArr[maxOrd[1]]"></td>
                                            <td ng-class="{ 'highColor' : ref==2 }" ng-bind="valArr[maxOrd[2]]"></td>
                                            <td ng-class="{ 'highColor' : ref==3 }" ng-bind="valArr[maxOrd[3]]"></td>
                                        </tr>
                                        <tr>
                                            <th>Dirty:</th>
                                            <td ng-class="{ 'highColor' : ref==0 }" ng-bind="dirtyArr[maxOrd[0]]"></td>
                                            <td ng-class="{ 'highColor' : ref==1 }" ng-bind="dirtyArr[maxOrd[1]]"></td>
                                            <td ng-class="{ 'highColor' : ref==2 }" ng-bind="dirtyArr[maxOrd[2]]"></td>
                                            <td ng-class="{ 'highColor' : ref==3 }" ng-bind="dirtyArr[maxOrd[3]]"></td>
                                        </tr>
                                        <tr>
                                            <th>Ref Count:</th>
                                            <td ng-class="{ 'highColor' : ref==0 }" ng-bind="lfuArr[0]"></td>
                                            <td ng-class="{ 'highColor' : ref==1 }" ng-bind="lfuArr[1]"></td>
                                            <td ng-class="{ 'highColor' : ref==2 }" ng-bind="lfuArr[2]"></td>
                                            <td ng-class="{ 'highColor' : ref==3 }" ng-bind="lfuArr[3]"></td>
                                        </tr>
                                    </table>

                                    <table ng-show="write_mode == 3">
                                        <tr>
                                            <th></th>
                                            <th ng-class="{ 'highColor' : ref==0 }">MRU</th>
                                            <th ng-class="{ 'highColor' : ref==1 }"></th>
                                            <th ng-class="{ 'highColor' : ref==2 }"></th>
                                            <th ng-class="{ 'highColor' : ref==3 }">LRU</th>
                                        </tr>
                                        <tr>
                                            <th>Page ID:</th>
                                            <td ng-class="{ 'highColor' : ref==0 }" ng-bind="pageArr[lruArr[0]]"></td>
                                            <td ng-class="{ 'highColor' : ref==1 }" ng-bind="pageArr[lruArr[1]]"></td>
                                            <td ng-class="{ 'highColor' : ref==2 }" ng-bind="pageArr[lruArr[2]]"></td>
                                            <td ng-class="{ 'highColor' : ref==3 }" ng-bind="pageArr[lruArr[3]]"></td>
                                        </tr>
                                        <tr>
                                            <th>Value:</th>
                                            <td ng-class="{ 'highColor' : ref==0 }" ng-bind="valArr[lruArr[0]]"></td>
                                            <td ng-class="{ 'highColor' : ref==1 }" ng-bind="valArr[lruArr[1]]"></td>
                                            <td ng-class="{ 'highColor' : ref==2 }" ng-bind="valArr[lruArr[2]]"></td>
                                            <td ng-class="{ 'highColor' : ref==3 }" ng-bind="valArr[lruArr[3]]"></td>
                                        </tr>
                                        <tr>
                                            <th>Dirty:</th>
                                            <td ng-class="{ 'highColor' : ref==0 }" ng-bind="dirtyArr[lruArr[0]]"></td>
                                            <td ng-class="{ 'highColor' : ref==1 }" ng-bind="dirtyArr[lruArr[1]]"></td>
                                            <td ng-class="{ 'highColor' : ref==2 }" ng-bind="dirtyArr[lruArr[2]]"></td>
                                            <td ng-class="{ 'highColor' : ref==3 }" ng-bind="dirtyArr[lruArr[3]]"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- <div ng-click = "commit()"> -->
                        <!-- </div> -->
                        <!-- <div style="bottom: 0px;" >
                            <table>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                </tr>
                                <tr>
                                    <th>Page ID:</th>
                                    <td ng-bind="pageArr[0]"></td>
                                    <td ng-bind="pageArr[1]"></td>
                                    <td ng-bind="pageArr[2]"></td>
                                    <td ng-bind="pageArr[3]"></td>
                                </tr>
                                <tr>
                                    <th>Value:</th>
                                    <td ng-bind="valArr[0]"></td>
                                    <td ng-bind="valArr[1]"></td>
                                    <td ng-bind="valArr[2]"></td>
                                    <td ng-bind="valArr[3]"></td>
                                </tr>
                                <tr>
                                    <th>Dirty:</th>
                                    <td ng-bind="dirtyArr[0]"></td>
                                    <td ng-bind="dirtyArr[1]"></td>
                                    <td ng-bind="dirtyArr[2]"></td>
                                    <td ng-bind="dirtyArr[3]"></td>
                                </tr>
                                <tr>
                                    <th>Refbit:</th>
                                    <td ng-bind="refArr[0]"></td>
                                    <td ng-bind="refArr[1]"></td>
                                    <td ng-bind="refArr[2]"></td>
                                    <td ng-bind="refArr[3]"></td>
                                </tr>
                            </table>
                        </div>
 -->
                    </div>
                </div>
                <div class="col">
                    <div class="sect">
                        <div class="first_title">
                            <h5><i class="fas fa-table"></i>  Transaction Table</h5>
                        </div>
                        <table class="table txn-table">
                            <tr>
                                <th class="square"><h7>No.</h7></th>
                                <th class="square"><h7>Operation Type</h7></th>
                                <th class="square"><h7>Page Id.</h7></th>
                                <th class="square"><h7>Write Data</h7></th>
                            </tr>
                            <tr ng-repeat="txn in Array">
                                <td class="square"><label>{{$index + 1}}</label></td>
                                <td class="square"><label>{{txn.txn_type}}</label></td>
                                <td class="square"><label>{{txn.pageid}}</label></td>
                                <td class="square"><label>{{txn.write_no}}</label></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


