<html ng-app="MyCtrl">
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <script src="../js/controllers/MyCtrl.js"></script>
    </head>
    <body class="body" ng-controller="Controller">
        <div class="container-fluid">
        	<h2 class="jumbotron text-center">Basic Database Concepts</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col btn-group">
                    <button type="button" class="btn btn-primary btn-select" ng-click="select_1()">Commit(Randomly Write)</button>
                    <button type="button" class="btn btn-primary btn-select" ng-click="select_2()">Write Ahead Log(Sequentially Write)</button>
                </div>
            </div>
            <div class="row" style="margin-bottom:0.5em;">
                <div class="col-8 text-center">
                    <div ng-if="write_mode == 1">
                        <h5>Current Mode: Commit(Randomly Write)</h5>
                    </div>
                    <div ng-if="write_mode == 2">
                        <h5>Current Mode: Write Ahead Log(Sequentially Write)</h5>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <button class="btn btn-primary reset-btn" onClick="window.location.reload()">Reset</button>
                </div>
            </div>
        </div>
    <!-- #class="jumbotron text-center" -->


        <div class="container-fluid">
            <div class="row">
                <div class="col col-5">
                    <div class="sect">
                        <ul class="first_title">
                            <li style="padding-left: 0.5em;">
                                <h5>Transaction No</h5>
                            </li>
                            <!-- <li><input type="text" ng-model="txn_no" /></li> -->
                            <li class="text-center">
                                <select  ng-model="txn_no" ng-options="type for type in txn_nos"></select>
                            </li>
                        </ul>
                        <ul>
                            <li style="padding-left: 1em;">
                                <h5>Operation Type</h5>
                            </li>
                            <li class="text-center">
                                <select  ng-model="selectedType" ng-options="type for type in choices"></select>
                            </li>
                        </ul>
                        <ul>
                            <li style="padding-left: 1em;">
                                <h5>Page ID</h5>
                            </li>
                            <!-- <li><input type="text" ng-model="pageid" /></li> -->
                            <li class="text-center">
                                <select  ng-model="pageid" ng-options="type for type in pageids"></select>
                            </li>
                        </ul>
                        <ul class="text-center">
                            <button class="btn btn-primary" ng-click="addRow()"> Add Record </button>
                        </ul>
                    </div>
                </div>
                <div class="col col-3">
                    <div class="sect">
                        <div class="first_title">
                    	    <h5><i class="fas fa-save"></i>  Volatile Storage</h5>
                        </div>
                            <!-- <button ng-click="commit()">Commit</button>  -->
                        <div class="vt">
                            <table ng-show="show_buffer" class="table table-sm">
                                <tr ng-repeat="txn in Array| unique : 'pageid'">
                                    <td ng-if="txn.txn_type == 'Write'"><label>【{{txn.pageid}}】</label></td>
                                    <td ng-if="txn.txn_type == 'Read'"><label>{{txn.pageid}}</label></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="sect">
                        <div class="first_title">
                            <h5><i class="fas fa-hdd"></i>  Hard Disk Storage</h5>
                        </div>
                        <table class="table">
                            <tr ng-repeat="_list in AllRecords">
                                <td class="hd-storage" ng-repeat="item in _list track by $index"><label>{{item}}</label></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="sect">
                        <div class="first_title">
                            <h5><i class="fas fa-sticky-note"></i>  Transaction Log</h5>
                        </div>
                            <!-- <div ng-click = "commit()"> -->
                        <table ng-show="show_log">
                            <tr ng-repeat="txn in dirtypage">
                                <td class="square"><label>{{$index + 1}}</label></td>
                                <td class="square"><label>{{txn.txn_no}}</label></td>
                                <td class="square"><label>{{txn.txn_type}}</label></td>
                                <td class="square"><label>{{txn.pageid}}</label></td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <button class="btn btn-primary" ng-click="flush()">Flush</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sect">
                        <div class="first_title">
                            <h5><i class="fas fa-table"></i>  Transaction Table</h5>
                        </div>
                        <table class="table txn-table">
                            <tr>
                                <th class="square">    </th>
                                <th class="square"><h7>No.</h7></th>
                                <th class="square"><h7>Transaction No.</h7></th>
                                <th class="square"><h7>Operation Type</h7></th>
                                <th class="square"><h7>Page Id.</h7></th>
                            </tr>
                            <tr ng-repeat="txn in Array">
                                <td class="square"><input type="checkbox" ng-model="txn.Remove"/></td>
                                <td class="square"><label>{{$index + 1}}</label></td>
                                <td class="square"><label>{{txn.txn_no}}</label></td>
                                <td class="square"><label>{{txn.txn_type}}</label></td>
                                <td class="square"><label>{{txn.pageid}}</label></td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <button class="btn btn-primary" ng-click="removeRow()">Remove Record</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
