<html ng-app="NerdCtrl">
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <script src="../js/controllers/NerdCtrl.js"></script>
    </head>
    <body ng-controller="Controller">
        <div >
        	<h3>Basic Database Concepts</h3>
        </div>
    <!-- #class="jumbotron text-center" -->


        <div id="NW">
        	<p><strong>Volatile Storage</strong></p>
                <!-- <button ng-click="commit()">Commit</button>  -->
                <button ng-click="commit_1()">Commit(Randomly Write)</button> 
                <button ng-click="commit_2()">Write Ahead Log(Sequential Write)</button> 
                <table ng-show="show_buffer"> 
                    <tr ng-repeat="txn in Array| unique : 'pageid'">
                        <td ng-if="txn.txn_type == 'W'"><label>【{{txn.pageid}}】</label></td>
                        <td ng-if="txn.txn_type == 'R'"><label>{{txn.pageid}}</label></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="SE">
            <p><strong>Transaction Log</strong></p>
                <!-- <div ng-click = "commit()"> -->
            
            <table ng-show="show_log"> 
                <tr ng-repeat="txn in dirtypage">
                    <td><label>{{$index + 1}}</label></td>
                    <td><label>{{txn.txn_no}}</label></td>
                    <td><label>{{txn.txn_type}}</label></td>
                    <td><label>{{txn.pageid}}</label></td>
                </tr>
            </table>
            <button ng-click="flush()">Flush</button> 
                <!-- </div> -->

                <div id="display" style="padding:10px 0;">{{display}}</div>
            </div>
        </div>


        <div id="NE">
        	<p><strong>Transaction Table</strong></p>
                <ul>
                    <li>Transaction No</li>
                    <li><input type="text" ng-model="txn_no" /></li>
                </ul>
                <ul>
                    <li>Operation Type</li>
                    <li><input type="text" ng-model="txn_type" /></li>
                </ul>
                <ul>
                    <li>Page Id.</li>
                    <li><input type="text" ng-model="pageid" /></li>
                </ul>
                <ul>
                    <li> </li><li><button ng-click="addRow()"> Add Record </button></li>
                </ul>

                <table> 
                    <tr>
                        <th>No.</th>
                            <th>Transaction No.</th>
                                <th>Operation Type</th>
                                <th>Page Id.</th>
                    </tr>
                    <tr ng-repeat="txn in Array">
                        <td><label>{{$index + 1}}</label></td>
                        <td><label>{{txn.txn_no}}</label></td>
                        <td><label>{{txn.txn_type}}</label></td>
                        <td><label>{{txn.pageid}}</label></td>
                        <td><input type="checkbox" ng-model="txn.Remove"/></td>
                    </tr>
                </table>

                <div>
                    <button ng-click="removeRow()">Remove Record</button>
                </div>

                <div id="display" style="padding:10px 0;">{{display}}</div>
        </div>


        <div id="SW">
        	<p><strong>HardDisk Storage</strong></p>

                <div>
                    <table> 
                        <tr ng-repeat="_list in AllRecords">
                            <td ng-repeat="item in _list track by $index"><label>{{item}}</label></td>
                        </tr>
                    </table>

                </div>

                <div id="display" style="padding:10px 0;">{{display}}</div>
        </div>


        
    </body>
</html>


