<!-- <!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <link rel="stylesheet" href="style.css" />
    
  </head>

  <body>
    <h1>Let's have the same breakfast</h1>
    <p>An example showing how to share data between controllers using a service</p>
    
    <div ng-controller="Ctrl1">
        <h2>Controller 1 Says:</h2>
        <p>I'm having: <input ng-model="myBreakfast.food" type="text" /></p>
    </div>
    
    <div ng-controller="Ctrl2">
        <h2>Controller 2 Says:</h2>
        <p>You're having: <input ng-model="yourBreakfast.food" type="text" /></p>
    </div>
    
    <div ng-controller="Ctrl3">
        <h2>Controller 3 Says:</h2>
        <p>Here's what we're having: <b>{{ourBreakfast.food}}</b></p>
    </div>
    
    <p><b>Important:</b> notice the model used in the inputs is an object property, not
        a primitive (like a string, number, boolean, etc.). In Angular, we're using
        prototypical inheritance so only objects will be referenced across scopes.
    </p>
    <script src="http://code.angularjs.org/1.2.1/angular.js"></script>
    <script src="../js/controllers/testCtrl.js"></script>
  </body>

</html> -->


<html lang="zh" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS入门学习</title>
    <script type="text/javascript" src="../libs/angular/angular.min.js"></script>
</head>
<body>
     <div ng-controller="childCtrl1">
        {{name}}
        <button ng-click="setName()">set name to jack jack jack</button>
     </div>
     <div ng-controller="childCtrl2">
        {{name}}
        <button ng-click="setName()">set name to tom tom tom</button>
     </div>
</body>
<script type="text/javascript">
var app = angular.module('myApp', []);
app.factory('dataService', function() {
  var service = {
     name:'我是林炳文'
   };
   return service;
});
app.controller('childCtrl1', function($scope,dataService) {
    $scope.name = dataService.name;
    $scope.setName = function() {
         $scope.name = "set name to jack jack jack";
    };
});
app.controller('childCtrl2', function($scope,dataService) {
       $scope.name = dataService.name;
       $scope.setName = function() {
        $scope.name = "set name to tom tom tom";
    };
});
</script>
</html>
